
@media(max-width: 991.9px){
  .search-box{
    width: 50% !important;
  }
  .location-box{
    width: 50% !important;
  }
}

/* sm */

@media(max-width: 767.9px){
  .App{
    align-items: flex-start !important;
  }
  .search-box{
    width: 100% !important;
    padding: 50px 20px !important;
  }
  .location-box{
    width: 100% !important;
  }
  .tem p{
    font-size: 95px !important;
  }

  .search-box .search-bar{
    margin-top: 10vh !important;
  }
  .App {
    height: 100% !important;
  }
  .cloud {
    height: auto !important;
  }
  .clear {
    height: 100% !important;
  }
  .cold {
    height: 100% !important;
  }
  .mist {
    height: 100% !important;
  }
  .hot {
    height: 100% !important
  }
  .rain {
    height: 100% !important;
  }
  .snow {
    height: 100% !important;
  }
  .storm {
    height: 100% !important;
  }
  .sunny {
    height: 100% !important;
  }
  .wind {
    height: 100% !important;
  }
  .default{
    padding-bottom: 331px!important;
  }
  .location-box{
    padding-bottom: 66px;
  }
}
