@media(max-width: 1300.9px){
  
}

/* lg  */

@media(max-width: 1199.9px) and (min-width: 992px){
  
}

/* md  */

@media(max-width: 991.9px){
  .search-box{
    width: 50% !important;
  }
  .location-box{
    width: 50% !important;
  }
}

/* sm */

@media(max-width: 767.9px){
  .App{
    align-items: flex-start !important;
  }
  .search-box{
    width: 100% !important;
    padding: 50px 20px !important;
  }
  .location-box{
    width: 100% !important;
  }
}

/* xs */

@media(max-width: 575.9px){
  
}
