* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: monospace, "Gill Sans", "Gill Sans MT", "Trebuchet MS",
    sans-serif;
}
.App {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("./../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.cloud, .clear, .cold, .mist, .hot, .rain, .snow, .storm, .sunny, .wind{
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cloud {
  background-image: url("./../images/cloud.jpg");
}
.clear {
  background-image: url("./../images/clear.jpg");
}
.cold {
  background-image: url("./../images/cold.jpg");
}
.mist {
  background-image: url("./../images/mist.jpg");
}
.hot {
  background-image: url("./../images/hot.jpg");
}
.rain {
  background-image: url("./../images/rain.jpg");
}
.snow {
  background-image: url("./../images/snow.jpg");
}
.storm {
  background-image: url("./../images/storm.jpg");
}
.sunny {
  background-image: url("./../images/sunny.jpg");
}
.wind {
  background-image: url("./../images/wind.jpg");
}
.App::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.search-box {
  width: 45%;
  padding: 80px 50px;
}
.search-box .search-bar {
  display: block;
  margin: 0;
  width: 100%;
  padding: 15px;
  background: none;
  appearance: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 16px 0px 16px;
  border-bottom: 5px solid rgb(201, 201, 3);
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  transition: 0.5s ease;
}
.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 16px 0px 16px 0px;
}
.location-box {
  width: 55%;
  text-align: center;
  color: white;
}
.location {
  font-size: 30px;
}
.tem {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 150px;
  font-size: 100px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}
.tem p {
  text-shadow: 0px 0px 5px black;
}
.date {
  padding-bottom: 15px;
  font-style: italic;
}
.weather {
  padding-top: 15px;
  font-size: 35px;
  font-weight: bold;
}
